<div class="jumbotron banner-home">
  <div class="container mx-auto text-center">
    <h1 class="display-4 text-dark">Les Lapins d'Alice</h1><br><br>
   <br><br>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
    </p>
  </div>
</div>
<h1 class="h2 text-center my-4">Notre histoire</h1>
<p class="mx-4 px-4">Alice ne s'était jamais imaginée tenir une boutique de jouets un jour. 
Mais quand son père, proche de la retraite, lui demande un coup de main pour 
tenir le magasin, elle accepte et finit par tomber littéralement sous le charme 
de la boutique familiale ! </p>
<h2 class="h3 text-center my-4">Le coup de foudre</h2>
<p class="mx-4 px-4">Ni une ni deux, elle reprend en 2018 le magasin de jouets 
un peu ancien et le transforme en une boutique de jouets moderne et engagée : Les Lapins d'Alice ! 
Ici, vous trouverez des valeurs sures mais aussi et surtout de nouvelles marques, bien souvent locales, 
fabriquées en France et responsables ! </p>
<h2 class="h3 text-center my-4">Un lieu de vie à part entière</h2>
<p class="mx-4 px-4">Les Lapins d'Alice c'est également un véritable lieu de vie pour 
tous les enfants du quartier : ateliers, animations... Il y en a pour tous les goûts ! D'ailleurs, 
si vous passez dans la rue, vous pourriez bien tomber nez à nez sur la mascotte du magasin - un lapin forcément - qui vous invitera à le suivre, 
dans la boutique cette fois !</p><br><br>