<div class="col">
        <div class="jumbotron mt-70" style="padding:0;">
            <div class="d-flex align-items-center h-100">
                <div class="container text-center py-5">
                <h3 class="mb-0">Un email vient d'etre envoyé</h3>
                <p class="mb-0">Veuillez attendre une réponse</p>
                </div>
            </div>
        </div>
    </div>