<div class="jumbotron color-grey-light mt-70" style="padding:0;">
    <div class="d-flex align-items-center h-100">
        <div class="container text-center py-5">
          <h3 class="mb-0">Product page</h3>
        </div>
    </div>
</div>

<div class="container">	
    <div class="row">  
        <div class="col col-md-6">
            <img src="<%=@item.image_url%>" class="img-radius" alt="User-Profile-Image"> 
        </div>
        <div class="col col-md-6">
            <h1><%=@item.title%></h1><br> 
            <p>description : <%=@item.description%></h1><br>
            <p>price : <%=@item.price%></h1>
        </div>
    </div>	
</div>
<br><br><br><br><br>