/* line 4, app/assets/stylesheets/static_pages.scss */
.form-style-6 {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #fff;
}

/* line 11, app/assets/stylesheets/static_pages.scss */
.form-style-6 h1 {
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #555;
  margin: -16px -16px 16px -16px;
}

/* line 19, app/assets/stylesheets/static_pages.scss */
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

/* line 46, app/assets/stylesheets/static_pages.scss */
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus {
  box-shadow: 0 0 5px #009CA6;
  padding: 3%;
  border: 1px solid #009CA6;
}

/* line 62, app/assets/stylesheets/static_pages.scss */
.form-style-6 input[type="submit"],
.form-style-6 input[type="button"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #009CA6;
  border-bottom: 2px solid #017c85;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}

/* line 76, app/assets/stylesheets/static_pages.scss */
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover {
  background: #009ba6bd;
}
