<div class="jumbotron banner-home">
  <div class="container mx-auto text-center">
    <h1 class="display-4 text-white">Les Lapins d'Alice</h1><br><br>
    <hr class="my-4 hr-jumbo">
    <p class="lead text-jumbo-big">Jeu et jouet enfant pour filles ou garçons, pour bébé ou pour toute la famille, découvrez le catalogue des lapins d'Alice</p>
    <p class="lead text-jumbo-big">Boutique de beaux jouets pour enfants de 0 à 10 ans. </p>
    <p class="lead">
      <a class="btn btn-secondary btn-lg" href="/histoire" role="button">Je découvre</a>
    </p>
  </div>
</div>