<!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

      <div class="bg-primary">
        <div class="container">

          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="footer-title mb-0 text-footer">Connectez-vous avec nous sur les réseaux sociaux !</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

              <!-- Facebook -->
              <a class="fb-ic" href="https://fr-fr.facebook.com/leslapinsdalice/?ref=page_internal">
                <i class="fab fa-facebook-f text-footer mr-4 fa-lg"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic" href="https://www.instagram.com/leslapinsdaliceparis/?hl=fr">
                <i class="fab fa-instagram text-footer fa-lg"> </i>
              </a>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->

        </div>
      </div>

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Mon Petit Chaton</h6>
            <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>Ici, vous trouverez des valeurs sures mais aussi et surtout de nouvelles marques, 
            bien souvent locales, fabriquées en France et responsables !</p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Catalogue</h6>
            <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a class="no-style" href="#!">Promotions</a>
            </p>
            <p>
              <a class="no-style" href="#!">Nouveaux produits</a>
            </p>
            <p>
              <a class="no-style" href="#!">Best Seller</a>
            </p>
            <p>
              <a class="no-style" href="#!">Tous nos produits</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column >
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <-- Links -->
            <!--h6 class="text-uppercase font-weight-bold">Aide</h6>
            <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a class="no-style" href="#!">Votre compte</a>
            </p>
            <p>
              <a class="no-style" href="#!">Mentions légales</a>
            </p>
            <p>
              <a class="no-style" href="#!">Livraison</a>
            </p>
            <p>
              <a class="no-style" href="#!">FAQ</a>
            </p>

          </div>
          <-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fas fa-home mr-3"></i> 22 rue Cler, Paris 75007</p>
            <p>
              <i class="fas fa-envelope mr-3"></i>boutique@leslapinsdalice.com</p>
            <p>
              <i class="fas fa-phone mr-3"></i> 01 45 51 54 21</p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
         Les Lapins d'Alice
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->