<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mon Petit Chaton</h1>
    <p class="lead">Découvrez nos sublimes petits chatons! On ne peut pas y résister</p>
  </div>
</div>